.Categorys-content {
    width: 100%;
    display: flex;
}

.Categorys-content .left {

    width: 75%;
    display: flex;
    padding-top: 40px;

}

.Categorys-content .right {

    width: 28%;

}

.techno {
    width: 100%;

}

@media screen and (max-width: 768px) {
    .Categorys-content {
        flex-direction: column;
    }

    .Categorys-content .left {

        width: 100%;


    }

    .Categorys-content .right {

        width: 100%;

    }
}