.Globaltech {
    display: flex;
    width: 95%;
    padding-left: 20px;


}

.Globaltech .left {
    width: 50%;

}

.Globaltech .right {
    width: 50%;
}


.Globaltech .right .Heading-1 h2:after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 6px solid rgb(235, 183, 10);
}

.Globaltech .left .Heading-1 h2:after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 6px solid rgb(111, 10, 235);
}

@media screen and (max-width: 768px) {

    .Globaltech {
        flex-direction: column;
        width: 100%;
        padding-left: 0px;

    }

    .Globaltech .left {
        width: 98%;

    }

    .Globaltech .right {
        width: 98%;
    }

}